<div class="mypage">
  <p><%= @nickname %>さんの漫画一覧</p>

  <% @comics.each do |comic| %>
      <li class='list'>
        <%= link_to "#" do %>
          <div class='item-img-content'>
            <%= image_tag comic.image, class: "comic-img" %>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= comic.title %>
              </h3>
          </div>
        <% end %>
      </li>
      <% end %>
    <p><%= @nickname %>さんがいいねした漫画一覧</p>

      <% @users.each do |user| %>
        <% user.liked_comics.each do |comic| %>
          <% if current_user.already_liked?(comic) %>
            <%= image_tag comic.image, class: "comic-img" %>
          <% else %>
            <p>漫画を探そう</p>
          <% end %>
        <% end %>
      <% end %>
</div>