<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    気になる漫画を伝えたい！
  </p>
  <h2 class='ad-footer-title'>
    今すぐ確認！！
  </h2>
  <div class='store-btn'>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>漫画フロンティアについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '漫画フロンティア利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>気になる漫画を見る</h2>
      <ul>
        <li><%= link_to 'ジャンル一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '出版社一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>漫画フロンティアについて</h2>
      <ul>
        <li><%= link_to '漫画フロンティアガイド', "#", class: "footer-link" %></li>
        <li><%= link_to '漫画フロンティアロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© 漫画フロンティア</p>
</div>